<% @page_title = "Home Page" %>

<h3>Semesters Page</h3>

<p><i>The semesters are below:</p></i>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Start</th>
			<th>End</th>
			<th>Details</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<% @semesters.each do |semester| %>
			<tr class="data-row">
				<td><%= semester.name %></td>
				<td><%= semester.dates.begin %></td>
				<td><%= semester.dates.end %></td>
				<td>
			<%= link_to("", semester_path(semester), :class => 'fa fa-info-circle fa-lg') %>
		</td>
		<td>
			<%= link_to("", edit_semester_path(semester), :class => 'fa fa-edit fa-lg') %>
		</td>
		<td>
			<%= link_to("", delete_semester_path(semester), :class => 'fa fa-trash fa-lg') %>
		</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to "New Semester", new_semester_path, class: "btn btn-primary" %>
