<!-- app/views/dashboard/show.html.erb -->

<h4>Welcome, <%= @name %></h4>
<p>This page could serve has the landing page for all users. If the person who is logged in is not yet represented in the database, then a "verify info" type of template will be shown. Else, the page could be a menu for the system or perhaps even show some basic details like points.</p>
<div>
	<div>
		<h4>Due Status:
			<%= @dues_paid ? "Paid": "Unpaid" %>
		</h4>

		<%= link_to("Pay Dues", "https://secure.touchnet.com/C21490_ustores/web/classic/product_detail.jsp?PRODUCTID=5415", :class => "btn btn-primary") unless @dues_paid %>
	</div>
	<% if @dues_paid %>
		<div>
			<h4>Points Earned</h4>
			<table>
				<tr>
					<th>Attendance</th> <td><%= @attendance_points %></td>
				</tr>
				<tr>
					<th>Accomplishments</th> <td><%= @accomplishments_points %></td>
				</tr>
				<tr>
					<th>Manual Adjustments</th> <td><%= @manual_points %></td>
				</tr>
				<tr>
					<th><strong>Total</strong></th> <td><%= @total_points %></td>
				</tr>
			</table>
		</div>
	<% end %>
</div>
