<%= link_to("<< Back to List", accomplishments_path, :class => 'back-link') %>

<% @page_title = "Delete" %>

<h1>Delete</h1>

<p>About to Delete the Following Accomplishment:</p>


<table class="table">

	<tr>
		<th>Name</th>
		<td><%= @accomplishments.name %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @accomplishments.description %></td>
	</tr>
	<tr>
		<th>Points</th>
		<td><%= @accomplishments.points %></td>
	</tr>
	<tr>
		<th>Is Dues</th>
		<td><%= @accomplishments.is_dues %></td>
	</tr>
	<tr>
		<th>Added to Database on</th>
		<td><%= @accomplishments.created_at %></td>
	</tr>
	<tr>
		<th>Last Updated on</th>
		<td><%= @accomplishments.updated_at %></td>
	</tr>
</table>

<%= form_for(@accomplishments, :method => 'delete') do |f| %>
	<p>Are you sure?</p>
	<%= f.submit("Delete Accomplishment", :class => "btn btn-primary") %>
<% end %>
