<%= link_to("<< Back to List", accomplishments_path, :class => 'back-link') %>

<div class="accomplishments show">
    <h2>Event Details</h2>
    <table class="single item" summary="Accomplishments details">
        <tr>
            <th>Name</th>
            <td><%= @accomplishments.name %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= @accomplishments.description%></td>
        </tr>
        <tr>
            <th>Points</th>
            <td><%= @accomplishments.points %></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><%= @accomplishments.created_at %></td>
        </tr>
        <tr>
            <th>Updated</th>
            <td><%= @accomplishments.updated_at %></td>
        </tr>
    </table>

    <%= form_for(@accomplishments, :method => 'delete') do |f| %>
      <p>Are you sure you want to permanently delete this accomplishments?</p>
      <div class="form-buttons">
          <%= f.submit("Delete Accompishments") %>
      </div>
    <% end %>
</div>

<!-- <p>Find me in app/views/accomplishments/delete.html.erb</p> -->