<%= link_to("<< Back to List", accomplishments_path, :class => 'back-link') %>

<% @page_title = "Update" %>

<h1>Update</h1>

<p>About to Update the Following Accomplishments</p>

<p>Updating <%= @accomplishments.name %></p>

<%= form_for(@accomplishments) do |f| %>
	<table class="table">

		<tr>
			<th>Name</th>
			<td><%= f.text_field(:name) %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= f.text_area(:description) %></td>
		</tr>
		<tr>
			<th>Points</th>
			<td><%= f.number_field(:points, :step => 0.01) %></td>
		</tr>
	</table>

	<%= f.submit("Update Book", :class => "btn btn-primary") %>
<% end %>