<% @page_title = "Home Page" %>


<h3>Accomplishments</h3>

<i><p>The accomplishments and their functions are below:</p></i>


<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Points</th>
			<th><strong>Details</strong></th>
			<th><strong>Edit</strong></th>
			<th><strong>Delete</strong></th>
		</tr>
	</thead>
	<tbody>
		<% @accomplishments.each do |accomplishment| %>
			<tr class="data-row">
				<td><%= accomplishment.name %></td>
				<td><%= accomplishment.description %></td>
				<td><%= accomplishment.points %></td>
				<td>
					<%= link_to("", accomplishment_path(accomplishment), :class => 'fa fa-info-circle fa-lg') %>
				</td>
				<td>
					<%= link_to("", edit_accomplishment_path(accomplishment), :class => 'fa fa-edit fa-lg') %>
				</td>
				<td>
					<%= link_to("", delete_accomplishment_path(accomplishment), :class => 'fa fa-trash fa-lg') %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to("Add New Accomplishment", new_accomplishment_path, :class => "btn btn-primary") %>
