<%= link_to("<< Back to List", accomplishments_path, :class => 'back-link') %>

<div class="new accomplishment">
    <h2>New Sccomplishments</h2>
    <%= form_for(@accomplishments) do |f| %>
        <table summary="Accomplishment form fields">
            <tr>
                <th>Name</th>
                <td><%= f.text_field(:name) %></td>
            </tr>
            <tr>
                <th>Description</th>
                <td><%= f.text_field(:description) %></td>
            </tr>
            <tr>
                <th>Points</th>
                <td><%= f.number_field(:points, in: 0.0..1000.0, step: 0.01) %></td>
            </tr>
        </table>
        
        <div class="form-buttons">
            <%= f.submit("Create Accomplishment") %>
        </div>
        
    <% end %>
</div>

<!-- <p>Find me in app/views/accomplishments/new.html.erb</p> -->