<%= link_to("<< Back to List", accomplishments_path, :class => 'back-link') %>

<% @page_title = "New" %>

<h1>New</h1>

<p>Add an Accomplishments</p>

<%= form_for(@accomplishments) do |f| %>
	<table class="table">
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:name) %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= f.text_area(:description) %></td>
		</tr>
		<tr>
			<th>Points</th>
			<td><%= f.number_field(:points, :step => 0.01) %></td>
		</tr>
	</table>

	<%= f.submit("Create Accomplishment", :class => "btn btn-primary") %>
<% end %>