<%= link_to accomplishments_path do %>
	<i class="fa fa-home fa-3x"></i>
<% end %>

<% @page_title = "Show Details" %>

<h1>Show Details</h1>

<p><%= @accomplishment.name %></p>

<table class="data-inline">
	<tr>
		<th>Name</th>
		<td><%= @accomplishment.name %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @accomplishment.description %></td>
	</tr>
	<tr>
		<th>Points</th>
		<td><%= @accomplishment.points %></td>
	</tr>
	<tr>
		<th>Added to Database on</th>
		<td><%= @accomplishment.created_at %></td>
	</tr>
	<tr>
		<th>Last Updated on</th>
		<td><%= @accomplishment.updated_at %></td>
	</tr>
</table>