<h5><%= link_to("Back to Event List", events_path, :class => 'back-link') %></h5>

<% @page_title = "Delete Events" %>

<h3>Delete</h3>

<p><i>About to Delete an Event</p></i>

<div class="event show">
  <table class=table summary="Event details">
    <tr>
      <th>Name</th>
      <td><%= @event.name %></td>
    </tr>
    <tr>
      <th>Date</th>
      <td><%= @event.date %></td>
    </tr>
    <tr>
      <th>Time</th>
      <td><%= @event.time.strftime("%H:%M:%S") %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= @event.event_type %></td>
    </tr>
    <tr>
      <th>Attendance Points</th>
      <td><%= @event.attendance_points %></td>
    </tr>
    <tr>
      <th>Created at</th>
      <td><%= @event.created_at %></td>
    </tr>
    <tr>
      <th>Last Updated on</th>
      <td><%= @event.updated_at %></td>
    </tr>
  </table>

  <%= form_for(@event, :method => 'delete') do |f| %>
    <i><p>Are you sure?</p></i>
    <div class="form-buttons">
      <%= f.submit("Delete Event", :class => "btn btn-primary") %>
    </div>
  <% end %>
</div>

<!-- <p>Find me in app/views/events/delete.html.erb</p> -->
