
<% @page_title = "Event List" %>

<div class="events index">
<h3>Events</h3>

<table class="table" summary="Events list">

  <tr class="header">
    <th>Name</th>
    <th>Date</th>
    <th>Time</th>
    <th>Type</th>
    <th>Hidden?</th>
    <th>Attendance Points</th>
    <th>Details</th>
    <th>Edit</th>
    <th>Postpone</th>
    <!-- ostpone will eventually be a modal with buttons -->
    <th>Delete</th>
  </tr>
  <% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.date %></td>
    <td><%= event.time.strftime("%H:%M:%S") %></td>
    <td><%= event.event_type %></td>
    <td><%= event.hidden %></td>
    <td><%= event.attendance_points %></td>
    <td>
    <%= link_to("", event_path(event), :class => 'fa fa-info-circle fa-lg') %>
    </td>
    <td>
      <%= link_to("", edit_event_path(event), :class => 'fa fa-edit fa-lg') %>
    </td>
    <td>
      <%= link_to("", postpone_event_path(event), :class => 'fa fa-clock-o fa-lg') %>
    </td>
    <td>
      <%= link_to("", delete_event_path(event), :class => 'fa fa-trash fa-lg') %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to("Add New Event", new_event_path, :class => "btn btn-primary") %>

<!-- <p>Find me in app/views/events/index.html.erb</p> -->
</div>
