
<% @page_title = "Event List" %>

<div class="events index">
<h3>Events</h3>

<table class="table" summary="Events list">
  <tr>
  <%= form_tag(events_path, method: :get) do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <td>
      <%= text_field_tag(:name, params[:name]) %>
    </td>
    <td>
      <%= date_field_tag(:date, params[:date], disabled: true) %>
    </td>
    <td>
      <%= time_field_tag(:time, params[:time], disabled: true) %>
    </td>
    <td>
      <%= select_tag(:event_type, options_from_collection_for_select(Event.event_types.map { |k,v| [k.humanize, v] }, 'last', 'first' ), prompt: 'Any') %>
    </td>
    <td>
      <%= select_tag(:hidden, raw("<option value=''>Any</option><option value='true'>True</option><option value='false'>False</option>")) %>
    </td>
    <td>
      <%= number_field_tag(:attendance_points, params[:attendance_points]) %>
    </td>
    <td>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </td>
  <% end %>
  <%= form_tag(events_path, method: :get) do %>
    <td>
      <%= submit_tag "Clear", class: "btn btn-primary" %>
    </td>
  <% end %>
  </tr>
  <tr class="header">
    <th><%= sortable "name", "Name" %></th>
    <th><%= sortable "date", "Date" %></th>
    <th><%= sortable "time", "Time" %></th>
    <th><%= sortable "event_type", "Type" %></th>
    <th><%= sortable "hidden", "Hidden?" %></th>
    <th><%= sortable "attendance_points", "Attendance Points" %></th>
    <th>Details</th>
    <th>Edit</th>
    <th>Postpone</th>
    <!-- Postpone will eventually be a modal with buttons -->
    <th>Delete</th>
  </tr>
  <% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.date %></td>
    <td><%= event.time.strftime("%H:%M:%S") %></td>
    <td><%= event.event_type %></td>
    <td><%= event.hidden %></td>
    <td><%= event.attendance_points %></td>
    <td>
    <%= link_to("", event_path(event), :class => 'fa fa-info-circle fa-lg') %>
    </td>
    <td>
      <%= link_to("", edit_event_path(event), :class => 'fa fa-edit fa-lg') %>
    </td>
    <td>
      <%= link_to("", postpone_event_path(event), :class => 'fa fa-clock-o fa-lg') %>
    </td>
    <td>
      <%= link_to("", delete_event_path(event), :class => 'fa fa-trash fa-lg') %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to("Add New Event", new_event_path, :class => "btn btn-primary") %>

<!-- <p>Find me in app/views/events/index.html.erb</p> -->
</div>
