<%= link_to("<< Back to Event List", events_path, :class => 'btn btn-primary') %>

<% @page_title = "Event Postpone" %>

<div class="event postpone">
  <h2>Postpone Event</h2>
  <table class="table" summary="Event details">
    <tr>
      <th>Name</th>
      <td><%= @event.name %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= @event.event_type %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @event.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @event.updated_at %></td>
    </tr>
  </table>

  <%= form_for(@event, :url => event_path(@event), :method => 'patch') do |f| %>
  <table class=table summary="Event details">
    <tr>
      <th>Date</th>
      <td><%= f.date_select(:date) %></td>
    </tr>
    <tr>
      <th>Time</th>
      <td><%= f.time_select(:time) %></td>
    </tr>
  </table>

    <p>Save changes to this event?</p>
    <div class="form-buttons">
      <%= f.submit("Save", :class => "btn btn-primary") %>
    </div>
  <% end %>
</div>

<!-- <p>Find me in app/views/events/postpone.html.erb</p> -->
