<h5><%= link_to("Back to Event List", events_path, :class => 'back-link') %></h5>

<% @page_title = "Event Postpone" %>

<h3>Postpone Event</h3>
<p><i> About to postpone an event</p></i>

<div class="event postpone">

  <table class="table" summary="Event details">
    <tr>
      <th>Name</th>
      <td><%= @event.name %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= @event.event_type %></td>
    </tr>
    <tr>
      <th>Created at</th>
      <td><%= @event.created_at %></td>
    </tr>
    <tr>
      <th>Last Updated on</th>
      <td><%= @event.updated_at %></td>
    </tr>
  </table>

  <%= form_for(@event, :url => event_path(@event), :method => 'patch') do |f| %>
    <table class=table summary="Event details">
      <tr>
        <th>Date</th>
        <td><%= f.date_select(:date) %></td>
      </tr>
      <tr>
        <th>Time</th>
        <td><%= f.time_select(:time) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Save Changes", :class => "btn btn-primary") %>
    </div>
  <% end %>
</div>

<!-- <p>Find me in app/views/events/postpone.html.erb</p> -->
