<%= link_to("<< Back to Event List", events_path, :class => 'btn btn-primary') %>

<% @page_title = "Event Details" %>

<div class="event show">
  <h3>Event Details</h3>
  <table class="table data-inline" summary="Event details">
    <tr>
      <th>Name</th>
      <td><%= @event.name %></td>
    </tr>
    <tr>
      <th>Date</th>
      <td><%= @event.date %></td>
    </tr>
    <tr>
      <th>Time</th>
      <td><%= @event.time.strftime("%H:%M:%S") %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= @event.event_type %></td>
    </tr>
    <tr>
      <th>Attendance Points</th>
      <td><%= @event.attendance_points %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @event.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @event.updated_at %></td>
    </tr>
  </table>
</div>

<!-- <p>Find me in app/views/events/show.html.erb</p> -->
