<h5><%= link_to("Back to Event List", events_path, :class => 'back-link') %></h5>

<% @page_title = "Event Details" %>
<h3>Event Details</h3>

<p><i> Show Details for this Event<p></i>

<div class="event show">
  
  <table class="table data-inline" summary="Event details">
    <tr>
      <th>Name</th>
      <td><%= @event.name %></td>
    </tr>
    <tr>
      <th>Date</th>
      <td><%= @event.date %></td>
    </tr>
    <tr>
      <th>Time</th>
      <td><%= @event.time.strftime("%H:%M:%S") %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= @event.event_type %></td>
    </tr>
    <tr>
      <th>Attendance Points</th>
      <td><%= @event.attendance_points %></td>
    </tr>
    <tr>
      <th>Created at</th>
      <td><%= @event.created_at %></td>
    </tr>
    <tr>
      <th>Last Updated on</th>
      <td><%= @event.updated_at %></td>
    </tr>
  </table>
</div>

<!-- <p>Find me in app/views/events/show.html.erb</p> -->
