<% flash.each do |type, msg| %>

  <% if (type == "notice") %>
    <div class="alert alert-success">
      <%= msg %>
    </div>
  <% elsif (type == "alert") %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% end %>
<% end %>

<h4>user Details</h4>

<table class="table" summary="user details">

    <tr class="header">
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <tr>
        <th>Name</th>
        <td><%=@user.name %></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><%=@user.email %></td>
    </tr>
    <tr>
        <th>Class Year</th>
        <td><%=@user.class_year %></td>
    </tr>
    <tr>
        <th>Total Points</th>
        <td><%=@user.total_points %></td>
    </tr>
    <tr>
        <th>Dues Paid?</th>
        <td><%=@user.paid_dues? %></td>
    </tr>
    <tr>
        <th>Role</th>
        <td><%=@user.role %></td>
    </tr>

</table>

<% unless @user.confirmed? %>
    <%= link_to("Confirm", {controller: :member_management, action: :confirm, id: @user.id}, method: :patch, :class => 'btn btn-success') %>
<% end %>

<% unless @user.executive_admin? %>
    <%= link_to("Delete", {controller: :member_management, action: :delete, id: @user.id}, method: :delete, :class => 'btn btn-danger') %>
<% end %>
