<div class="events index">
<h3>Events</h3>
<p><i> This is a list of all your upcoming events </p></i>
<table class="table" summary="Events list">
    <tr class="header">
        <th>Name</th>
        <th>Start Time</th>
        <th>Type</th>
        <th>Attendance Points</th>
        <th>Details</th>
    </tr>
    <% @events.each do |event| %>
    <% unless event.hidden %>
        <tr>
            <td><%= event.name %></td>
            <td><%= event.start_time %></td>
            <td><%= event.event_type %></td>
            <td><%= event.attendance_points %></td>
            <td class="actions">
                <%= link_to(" ", event_path(event), :class => 'fa fa-info-circle fa-lg') %>
            </td>
        </tr>
        <% end %>
    <% end %>
</table>

<!-- <p>Find me in app/views/events/index.html.erb</p> -->
</div>
