<%= link_to("<< Back to List", manual_points_path, :class => 'back-link') %>

<% @page_title = "Delete" %>

<h3>Delete</h3>

<p>About to Delete the Following Manual Points:</p>


<table class="table">

	<tr>
		<th>Member Info</th>
		<td><%= @manual_points.member.name + ' (' + @manual_points.member.email + ')' %></td>
	</tr>
	<tr>
		<th>Points</th>
		<td><%= @manual_points.points %></td>
	</tr>
	<tr>
		<th>Category</th>
		<td><%= @manual_points.reason %></td>
	</tr>
	<tr>
		<th>Reason</th>
		<td><%= @manual_points.reason_message %></td>
	</tr>
	<tr>
			<th>Semester</th>
			<td><%= @manual_points.semester.name %></td>
	</tr>
	<tr>
		<th>Created At</th>
		<td><%= @manual_points.created_at %></td>
	</tr>
	<tr>
		<th>Last Updated on</th>
		<td><%= @manual_points.updated_at %></td>
	</tr>
</table>

<%= form_for(@manual_points, :method => 'delete') do |f| %>
	<p>Are you sure?</p>
	<%= f.submit("Delete Manual Points", :class => "btn btn-primary") %>
<% end %>