<%= link_to("<< Back to List", manual_points_path, :class => 'back-link') %>

<% @page_title = "Update Manual Points" %>

<h1>Update Manual Points</h1>

<p>Updating <%= @manual_points.name %></p>

<%= form_for(@manual_points) do |f| %>
	<table class="table">

		<tr>
			<th>Points</th>
			<td><%= f.number_field(:points, :step => 0.01) %></td>
		</tr>
		<tr>
			<th>Reason</th>
			<td><%= f.text_area(:reason) %></td>
		</tr>
	</table>

	<%= f.submit("Update Manual Points", :class => "btn btn-primary") %>
<% end %>