<h5><%= link_to("Back to List", manual_points_path, :class => 'back-link') %></h5>

<% @page_title = "Update Manual Points" %>

<h3>Update Manual Points</h3>

<i><p>About to Update the Following Manual Points</p></i>

<%= form_for(@manual_points) do |f| %>
	<table class="table">

		<tr>
			<th>Points</th>
			<td><%= f.number_field(:points, :step => 0.01) %></td>
		</tr>
		<tr>
            <th>Category</th>
            <td><%= f.select(:reason, [["Miscellaneous", "miscellaneous"], ["Volunteer", "volunteer"], ["Transfer Old", "transfer_old"]]) %></td>
        </tr>
        <tr>
            <th>Reason</th>
            <td><%= f.text_area(:reason_message) %></td>
        </tr>
		<tr>
		<th>Member</th>
		<% members= Array.new %>
		<% @members.each do |m| %>
			<% members << [m.name + ' (' + m.email + ')', m.id] %>
		<% end %>
		<td><%= f.select(:member_id, members) %></td>
	</tr>
	</table>

	<%= f.submit("Update Manual Points", :class => "btn btn-primary") %>
<% end %>