
<div class="manual points index">
<h2>Manual Points</h2>

<table class="table" summary="Manual Points List">

    <tr class="header">
        <th>Points</th>
        <th>Reason</th>
    </tr>
    <% @manual_points.each do |manual_points| %>
    <tr>
        <td><%= event.points %></td>
        <td><%= event.reason %></td>
        <td class="actions">
            <%= link_to("Show", manual_points_path(manual_points), :class => 'action show') %>
            <%= link_to("Edit", edit_manual_points_path(manual_points), :class => 'action edit') %>
            <%= link_to("Delete", delete_manual_points_path(manual_points), :class => 'action delete') %>
        </td>
    </tr>
    <% end %>
</table>

<%= link_to("Add New Manual Points", new_manual_point_path, :class => "btn btn-primary") %>

<!-- <p>Find me in app/views/manual_points/index.html.erb</p> -->
</div>