
<div class="manual points index">
<h3>Manual Points</h3>

<p><i> Assigning Manual Points to Members </p></i>

<table class="table" summary="Manual Points List">

    <tr class="header">
        <th>Member Info</th>
        <th>Points</th>
        <th>Reason</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    <% @manual_points.each do |manual_points| %>
    <tr>
        <td><%= "#{manual_points.member.name} (#{manual_points.member.email})" %></td>
        <td><%= manual_points.points %></td>
        <td><%= manual_points.reason_message %></td>
        <td>
			<%= link_to("", manual_point_path(manual_points), :class => 'fa fa-info-circle fa-lg') %>
		</td>
		<td>
			<%= link_to("", edit_manual_point_path(manual_points), :class => 'fa fa-edit fa-lg') %>
		</td>
		<td>
			<%= link_to("", delete_manual_point_path(manual_points), :class => 'fa fa-trash fa-lg') %>
		</td>
    </tr>
    <% end %>
</table>

<%= link_to("Add New Manual Points", new_manual_point_path, :class => "btn btn-primary") %>
<%= link_to("Transfer Points Between Semester", 'manual_points/semester_transfer', :class => "btn btn-primary") %>
<%= link_to("Undo Transfer Points Between Semester", 'manual_points/delete_semester_transfer', :class => "btn btn-primary") %>
<%= link_to( 'Download Manual Points Data' ,{ :controller => :manual_points, :action => :download, format: 'csv'}, { :class => "btn btn-primary" } ) %>

<!-- <p>Find me in app/views/manual_points/index.html.erb</p> -->
</div>
