<%= link_to("<< Back to List", manual_points_path, :class => 'back-link') %>

<div class="new manual points">
    <h3>New Manual Points</h3>
    <%= form_for(@manual_points) do |f| %>
        <table class="table" summary="Manual Points">
            <tr>
                <th>Points</th>
                <td><%= f.number_field(:points, in: 0.0..1000.0, step: 0.01, class: 'form-control') %></td>
            </tr>
            <tr>
                <th>Category</th>
                <td><%= f.select(:reason, :collection => ManualPoint.reasons.keys.map { |w| [w.humanize, w] }) %></td>
            </tr>
            <tr>
                <th>Reason</th>
                <td><%= f.text_area(:reason_message, class: 'form-control') %></td>
            </tr>
            <tr>
                <th>Member</th>
                <% members= Array.new %>
                <% @members.each do |m| %>
                    <% members << [m.name + ' (' + m.email + ')', m.id] %>
                <% end %>
                <td><span><%= f.select(:member_id, members) %></td>
            </tr>
            <tr>
                <th>Semester</th>
                <% semesters = Array.new %>
                <% @semesters.each do |s| %>
                    <% semesters << ["#{s.name} (#{s.dates.begin} – #{s.dates.end})".encode('utf-8'), s.id] %>
                <% end %>
                <td><span><%= f.select(:semester_id, semesters) %></td>
            </tr>
        </table>
        
        <div class="form-buttons">
            <%= f.submit("Create Manual Points", :class => "btn btn-primary") %>

        </div>
        
    <% end %>
</div>

<!-- <p>Find me in app/views/manual_points/new.html.erb</p> -->